/* Georgian Fonts */

@font-face {
    font-family: 'ArchyEDT-Thin';
     src: url('../webfonts/archyedt-thin-webfont.woff2') format('woff2'),
          url('../webfonts/archyedt-thin-webfont.woff') format('woff');

}

@font-face {
    font-family: 'bpg-le-studio';
     src: url('../webfonts/bpg-le-studio-02-webfont.woff2') format('woff2'),
          url('../webfonts/bpg-le-studio-02-webfont.woff') format('woff');

}




html:lang(ka) h2, html:lang(ka) .nav-box a span, html:lang(ka) span.filter-button-flip, html:lang(ka) .page_cover_title_line_two,
html:lang(ka) .main_news_title {
    font-family: "ArchyEDT-Thin", sans-serif;
    letter-spacing: 1px;
    font-weight: 700;
}

html:lang(ka) span.filter-button-flip {
    font-size:21px;
}

html:lang(ka) h2 span {
    font-weight: 700;
}

html:lang(ka) p, html:lang(ka) .border-btn, html:lang(ka) .scroll-btn-flip,
html:lang(ka) .flip-btn, .footer-menu li a, .inner_content ul li,
.footer-information a, #contact_form label, #contact_form input, .under_construction p {
    font-family: "bpg-le-studio", sans-serif;
}

html:lang(ka) .portfolio-slider2-content h2 {
    font-size: 55px;
}


html:lang(ka) article h3, html:lang(ka) h3 {
    font-family: "bpg-le-studio", sans-serif;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}


#contact_form .border-btn {
	text-transform: uppercase;
	letter-spacing: 4px;
	font-size: 12px;
	line-height: 60px;
	font-weight: 400;
	position: relative;
	color: transparent;
	padding: 0;
}

.news_component_title {
  line-height: 30px;
  font-size:16px!important;
}

.main_news_title span {
    font-weight: 900;
    line-height: 30px;;
}


  .menu-open {
    margin: 40px 40px 0 0;
  }

  .pointer-large {
    cursor:pointer;
  }

  .under_construction {
    height: 50px;
    background-color: #f15922;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .under_construction p {
    height: 100%;
      color: white;
      pointer-events: none;
  }

  .footer_contacts li a {
    text-transform: lowercase;
  }

  @media screen and (max-width: 999px) {
    .page-head-bg {
        opacity: 0.3;
    }

    .footer_contacts {
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
    }

  }
